streamlit==1.38.0

numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
plotly==5.22.0

scikit-learn==1.4.2
xgboost==2.0.3
shap==0.46.0

prophet==1.1.5
cmdstanpy<1.0

optuna==3.6.1

xlsxwriter==3.2.0
openpyxl==3.1.5
