streamlit
pandas
numpy
matplotlib
plotly
prophet
scikit-learn
xgboost==2.0.3
shap==0.44.1
optuna==3.4.0
python-dateutil
pytz
joblib
tqdm
statsmodels
seaborn
openpyxl
xlrd
numba
protobuf
urllib3
requests
python-dotenv
typing_extensions
